html {
  text-align: center;
  font-size: 20px;
}

.border-frame {
  position: absolute;
  border: 1px solid;
  border-image-source: url('/RainbowSinebow22px50msLtoR.gif');
  bottom: 0vh;
  top: 0vh;
  left: 0;
  right: 0;
  border-image-width: 20px;
  border-image-slice: 10%;
  border-image-repeat: stretch, round;
}
body {
  min-height: 300px;
  max-height: 100%;
  min-width: 800px !important;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 6rem;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
